@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#datetime-picker {
  width: 200px;
  height: 40px;
  /* padding-left: 40px; */
  border: 1px solid tomato;
  /* border-radius: 4px; */
  font: inherit;
  text-align: center;
}
.controls-wrap {
  display: flex;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
[data-days] {
  font-size: 200px;
  color: #db4844;
}
[data-hours] {
  font-size: 150px;
  color: #f07c22;
}
[data-minutes] {
  font-size: 100px;
  color: #f6da74;
}
[data-seconds] {
  font-size: 50px;
  color: #abcd58;
}

div.timer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 12px;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

span {
  display: block;
  font-size: 20px;
  color: rgb(38, 7, 95);
}

body {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  color: rgb(38, 7, 95);
  font-size: 26px;
  /* background: #222; */
}
